/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/*================================== My styles ==================================*/
/*================================== header ==================================*/
/*bg of the header */
body.html{
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    top: 0;
    background: $light_grey;
    height: 153px;
  }
  &.admin-menu{
    &:before {
      top: 29px;
    } 
    &.front:after{
      top: 579px;
    }
  }
}
/*main and secondary menu styles*/
#main-menu {
  &:focus{
    outline: none;
  }
  a {
    font: bold 16px/1 $fjalla;
    text-transform: uppercase;
    text-decoration: none;
    color: $red_1;
    &:hover{
      text-decoration: underline;
    }
  }
  #main-menu-toggle-input{
    display: none;
  }
}
#secondary-menu{
  position: absolute;
  right: 42px;
  top: 8px;
  li{
    padding: 0;
    &.first,
    &.last{
      a{ 
        &:after{
          display: none;
        }
      }
    }
    &.first{
      margin: 0 18px 0 0;
      a{
        width: 18px;
        height: 0;
        padding: 15px 0 0 0;
        overflow: hidden;
        background: url(../images/twitter_smal.png) 0 0 no-repeat;
      }
    }
  }
  a{
    font: normal 12px/1 $arial;
    text-decoration: none;
    color: $blue_1;
    position: relative;
    display: inline-block;
    &:after{
      content: "|";
      display: inline;
      margin: 0 0 0 6px;
      color: $blue;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
#header{
  padding: 0 12px;
  height: 153px;
  position: relative;
  background: $light_grey;
}
#logo{
  position: absolute;
  left: 14px;
  top: 19px;
}
/*================================== header ==================================*/
/*================================== slider ==================================*/
.flexslider .slides li {
  .views-field.views-field-field-flexslider-example-image{
    position: absolute;
    left: 57.5%;
    top: 0;
    right: 0;
    bottom: 0;

    .field-content{
      position: absolute;
      bottom: 0;
      max-height: 100%;
      width: 100%;
    }
  }
  .views-field.views-field-field-flexslider-body{
    position: absolute;
    top: 13.51%;
    left: 2.14%;
    bottom: 9%;
    right: 44.56%;
    overflow: hidden;
    h2{
      font: normal 50px/1 $fjalla;
      margin: 0 0 9px 0;
    }
    p{
      font: normal 13px/1.3 $arial;
      margin: 17px 0;
    }
  }
}
.view-id-frontpage_slideshow{
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -1px;
    height: 1px;
    width: 99999%;
    margin: 0 -100%;
    background:$grey;
  }
}
/*================================== slider ==================================*/
/*================================== layout of three blocks and there styles ==================================*/
.front .panel-3col-33-stacked .panel-col-top .inside{
  margin: 0;
}
.front .center-wrapper{
  overflow: hidden;
  margin: 36px 0 0 0;
  .panel-panel{
    .inside{
      position: relative;
      height: 280px;
      border: 1px solid $grey_1;
      padding: 28px 19px 0;
      overflow: hidden;
      .field-content{
        h3{
          margin: 8px 0 15px 0;
          font: normal 40px/1 $fjalla;
        }
        h4{
          margin: 4px 0 9px 0;
          font: normal 21px/1 $fjalla;
        }
        h5{
          margin: 3px 0 7px 0;
          font: normal 18px/1 $fjalla;
        }
        p{
          margin: 16px 0;
          font: normal 15px/1.3 $arial;
          color: $dark_grey_2;
        }
        pre{
          font: normal 12px/1 $fjalla;
          margin: -12px 0 12px 0;
        }
      }
      .views-field{
        .attach_view_all,
        &.views-field-title a{
          text-decoration: none;
          text-transform: uppercase;
          background:$red;
          padding: 5px 15px;
          color: #fff;
          font: normal 16px/2 $fjalla;
          &:hover{
            box-shadow: inset 0 0 14px rgba(0,0,0, .5);
          }
        }
        &.views-field-field-basic-page-image{
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          line-height: 0;
          z-index: -1;
          img{
            margin: auto;
            display: block;
            width: 59.3%;
          }
        }
      }
    }
    &.panel-col{
      width: 34%;
      .inside{
        margin: 0 8px 0 9px;
        .views-field{
          &.views-field-title a{
            background:$olive;
          }
          &.views-field-field-basic-page-image{
            img{
              width: 77%;
            }
          }
        }
      }
    }
    &.panel-col-first{
      .inside{
        margin: 0 9px 0 0;
        .views-field{
          &.views-field-field-basic-page-image{
            left: 41%;
            img{
              width: auto;
            }
          }
        }
      }
    }
    &.panel-col-last{
      .inside{
        margin: 0 0 0 10px;
        background:url(../images/man.png) 100% 100% no-repeat;
        .views-field{
          &.views-field-title a{
            text-decoration: underline;
            text-transform: none;
            background:none;
            padding: 0;
            color: inherit;
            font: inherit;
            &:hover{
              text-decoration: none;
              box-shadow: none;
            }
          }
          .attach_view_all{
            background:$purple;
          }
        }
      } 
    }
  }
}
/*================================== layout of three blocks and there styles ==================================*/
/*================================== footer ==================================*/
#footer{
  position: relative;
  height: 170px;
  background:$light_grey;
  border-top: 1px solid $grey_1;
  margin: 39px 0 0 0;

  #block-block-1{
    position: absolute;
    right: 33px;
    top: 59px;
    font: normal 12px/1 $arial;
    color: $dark_grey;
    p{
      margin: 0;
    }
  }
  #block-block-2 a{
    position: absolute;
    top: 42px;
    left: 33px;
    padding: 0 52px 0 0;
    background: url(../images/twitter_big.png) 100% 0 no-repeat;
    font: bold 15px/40px $arial;
    text-decoration: none;
    color: $azure;
  }
}
#block-menu-menu-footer-menu{
  position: absolute;
  top: 34px;
  right: 37px;
  .menu{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu__item{
    display: inline;
    &:before{
      font-size: 11px;
      content: '|';
      color: $blue;
      display: inline;
      margin: 0 5px 0 1px;
    }
    &.first{
      &:before{
        display: none;
      }
    }
  }
  .menu__link{
    color: $red;
    font: normal 12px/1 $arial;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
/*================================== footer ==================================*/
/*================================== tags cloud ==================================*/
#block-views-tags-cloud-block{
  .views-row{
    display: inline-block;
    .views-field{
      display: inline;
      a{
        color: $red;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      &.views-field-nid{
        font-size: 11px;
      }
    }
    &.views-row-1{
      font-size: 19px;
    }
    &.views-row-2{
      font-size: 17px;
    }
    &.views-row-3{
      font-size: 16px;
    }
    &.views-row-4{
      font-size: 14px;
    }
    &.views-row-5{
      font-size: 13px;
    }
    &.views-row-6{
      font-size: 12px;
    }
    &.views-row-7{
      font-size: 11px;
    }
    &.views-row-8{
      font-size: 10px;
    }
    &.views-row-9{
      font-size: 9px;
    }
    &.views-row-10{
      font-size: 8px;
    }
  }
}
.node-type-article{
  .field-type-taxonomy-term-reference{
    .field-item{
      display: inline-block;
      margin: 0 7px 0 0;
      a{
        font: italic 13px/1 $tahoma;
        color: $dark_grey;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
/*================================== tags cloud ==================================*/
/*================================== .page-blog articles list styles ==================================*/
.page-blog{
  .view-id-blog{
    .views-row{
      &.views-row-odd{
        background:$light_grey;
      }
      &.views-row-even{
        background:$grey;
      }
    }
  }
}
/*================================== .page-blog articles list styles ==================================*/
/*================================== media queries ==================================*/

 @media all and (max-width: 768px){
  @import "layouts/mobile";
} 
/*================================== media queries ==================================*/