/*================================== layout for less then 768 px wide ==================================*/
@media all and (max-width: 768px) {
  #block-block-1,
  #block-block-2,
  #secondary-menu{
    display: none;
  }
  #header{
    padding: 0;
  }
  body.htmls{
    &:before{
      display: none;
    }
  }
  #logo{
  	top: 12.8%;
	left: 9%;
	max-width: 253px;
	.header__logo-image{
		width: auto;
	}
  }
  #main-menu {
  	.links{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		-webkit-box-shadow: 0 0 15px #000;
		-moz-box-shadow: 0 0 15px #000;
		box-shadow: 0 0 15px #000;
		li{
			display: block;
			float: none;
			border-bottom: 1px solid $dark_grey_1;
			background:$grey;
			a{
				display: block;
				padding: 10px 0;
				font-size: 27px;
				text-align: center;
			}
			&.last{
				border-bottom: none;
			}
		}
		&:before{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: -60px;
			right: 6.6%;
			border-left: 30px solid rgba(0, 0, 0, 0);
			border-right: 30px solid rgba(0, 0, 0, 0);
			border-bottom: 60px solid $grey;
		}
	}
  }
  #navigation{
  	position: static;
  }
  #main-menu-toggle{
    position: absolute;
    top: 35.4%;
	right: 7.3%;
	width: 54px;
	height: 39px;
    cursor: pointer;
	background: -webkit-linear-gradient(-90deg, #464646 0, #464646 16%, rgba(242,242,242,0) 16%, rgba(242,242,242,0) 43%, #464646 43%, #464646 59%, rgba(242,242,242,0) 59%, rgba(242,242,242,0) 84%, #464646 84%, #464646 100%);
	background: -moz-linear-gradient(180deg, #464646 0, #464646 16%, rgba(242,242,242,0) 16%, rgba(242,242,242,0) 43%, #464646 43%, #464646 59%, rgba(242,242,242,0) 59%, rgba(242,242,242,0) 84%, #464646 84%, #464646 100%);
    background: linear-gradient(180deg, #464646 0, #464646 16%, rgba(242,242,242,0) 16%, rgba(242,242,242,0) 43%, #464646 43%, #464646 59%, rgba(242,242,242,0) 59%, rgba(242,242,242,0) 84%, #464646 84%, #464646 100%);
  }
  #main-menu-toggle-input{
  	display: none;
  }
  #main-menu-toggle-input:checked ~ .links{
    display: block;
  }
  #content{
  	padding: 0;
  }
  .flexslider .slides li {
  	height: 322px;
	.views-field.views-field-field-flexslider-body{
		top: 9.3%;
		left: 7.5%;
		right: 25%;
		overflow: hidden;
		h2{
			font-size: 37px;
		}
		p{
			width: 75%;
			margin: 5px 0;
		}
	}
	.views-field.views-field-field-flexslider-example-image{
		left: 59%;
	}
  }
  .flex-control-nav{
  	bottom: 11px;
	left: 6.7%;
	width: auto;
	li{
		margin: 0 3px;
		a{
			width: 10px;
			padding: 10px 0 0 0;
		}
	}
  }
  .front .center-wrapper{
  	margin: 21px 0 0 0;
  }
  .front {
  	.center-wrapper{
		.panel-panel{
		  	float: none;
		  	width: auto;
			margin: 0 6.7% 12px;
			.inside{
				margin: 0;
				padding: 9.9% 5% 5% 6.1%;
				height: 363px;
				.views-field .attach_view_all,
				.views-field.views-field-title a{
					padding: 5px 23px;
					font-size: 21px;
				}
				.field-content{
					h3{
					  margin: 13px 0 15px 0;
					  font: normal 54px/1 $fjalla;
					}
					h4{
					  margin: 4px 0 9px 0;
					  font: normal 29px/1 $fjalla;
					}
					h5{
					  margin: 3px 0 7px 0;
					  font: normal 18px/1 $fjalla;
					}
					p{
					  margin: 24px 0;
					  font: normal 24px/1.1 $arial;
					  color: $dark_grey_2;
					}
					pre{
					  font: normal 12px/1 $fjalla;
					  margin: -12px 0 12px 0;
					}
				}
			}
			&.panel-col-first{
		  		width: auto;
				.inside{
					margin: 0;
				}
			}
			&.panel-col{
		  		width: auto;
				.inside{
					margin: 0;
				}
			}
			&.panel-col-last{
				.inside{
					margin: 0;
				}
			}
		}
  	}
  }
 #footer{
 	border: none;
 	padding: 0px;
 	height: auto;
 }
 #block-menu-menu-footer-menu{
 	position: static;
 	margin: 9px 0 0 0;
 	.menu__item{
 		display: block;
 		text-align: center;
 		padding: 22px 0 11px 0;
 		border-bottom: 1px solid $dark_grey_1;
 		&.first,
 		&:before{
 			display: none;
 		}
 		&.last{
 			border-bottom: none;
 		}
 	}
 	.menu__link{
 		font: bold 27px/1 $fjalla;
 		text-transform: uppercase;
 	}
 }
	.view-id-frontpage_slideshow{
		&:before {
			display: none;
		}
	}
}